# Default JSON RPC endpoint is the local node (use custom env for development)
JSON_RPC_ENDPOINT = ws://localhost:8545
DEBUG=melon:protocol:*
CHAIN_ENV=development

# Ganache App for development
JSON_RPC_ENDPOINT = ws://localhost:7545
DEBUG=melon:protocol:*
CHAIN_ENV=development

# If no JSON_RPC_ENDPOINT is set, it loads Ganache in-memory
