{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["flowtype"],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": { // Can be remove if once only Dapp suite used
    "contract": true,
    "artifacts": true
  }
}
