{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:ava/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "ava"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [ "t" ]
      }
    ]
  }
}
