app/
node_modules/
npm-debug.log
*.orig
*.swp

# manual backup files
*.bak

# doxity
scripts/

# ignore built contracts
out/

# ignore development addressBook
addressBook.json

# ignore generated coverage data
coverage.json
coverage/

# ignore cache
.cache/
