# Ignore log output.
*.log

# Ignore all dotfiles except the whitelisted ones.
.*
!.env.example
!.github
!.gitignore
!.gitattributes
!.solhint.json
!.solhintignore
!.vscode

# Ignore foundry artifacts & cache.
artifacts/
cache/

# Ignore internal interfaces.
tests/interfaces/internal/
