# ignore log output
*.log

# ignore all dotfiles except the whitelisted ones
.*
!.changeset
!.github
!.gitignore
!.gitattributes
!.prettierignore
!.prettierrc
!.babelrc
!.solhint.json
!.solhintignore

# ignore build output and dependencies
codegen/
dist/
cache/
artifacts/
coverage/
node_modules/
