auto-install-peers=true
strict-peer-dependencies=false

# Hoist all solidity packages into the root.
public-hoist-pattern[]=@openzeppelin/contracts
public-hoist-pattern[]=@openzeppelin-solc-0.7/contracts
public-hoist-pattern[]=@uniswap/v3-core
public-hoist-pattern[]=@uniswap/v3-periphery

# Hoist hardhat into the root for the vscode extension to work properly.
public-hoist-pattern[]=hardhat