{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 99,
        "tabWidth": 4,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
