# Only format files in the testing framework directory for now.
/*
!/tests
/tests/*
!/tests/framework

# Do not auto-format the fixtures file.
/tests/framework/fixtures.ts

!/scripts
/scripts/*
!/scripts/codegen
