# Ignore the pnpm lock file.
pnpm-lock.yaml

# Ignore generated changelog.
CHANGELOG.md

# Ignore build output.
codegen/
dist/
cache/
artifacts/
deployments/

# Ignore dependencies.
lib/

# Ignore tests directory (uses `forge fmt`).
tests/
