language: node_js
sudo: required
compiler:
  - gcc
  - clang
os:
  - linux
env:
  - CXX=g++-4.8
node_js:
  - '10.9'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - clang
cache:
  directories:
    - node_modules
install:
  - yarn install
script:
  - make all
  - yarn devchain > ganache.log &
  - sleep 10
  - yarn test
after_script:
  - cat ganache.log
  - cat log/*
