language: node_js
sudo: required
os:
  - linux
services:
  - docker
node_js:
  - '10'
cache:
  yarn: true
  directories:
    - node_modules
install:
  - yarn install
before_script:
  - yarn download
  - make all
  - yarn devchain > ganache.log &
  - until curl 127.0.0.1:8545 -X POST --data '{"method":"net_listening"}' >/dev/null 2>&1; do :; done
script:
  - yarn test
after_failure:
  - cat ganache.log
